/* Header.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
 
  
  h1 {
    font-size: 32px;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 18px;
    color: #ccc;
  }

  /* Header.css */

.nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  .nav a:hover {
    color: #fff;
  }
  
  .nav a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
  }
  
  .nav a:hover::before {
    width: 100%;
  }
  
  